.student-card {
    background-color: white;
    border-radius: 5px;
    border: 2px solid;
    width: 85.6mm;
    height: 54mm;
    /* standard credit card size */
    /* https://helpdesk.rs2tech.com/kb/article/317-id-card-sizes/ */
}
.header .school-title {
    padding: 5px;
    margin: 0px;
    font-weight: bold;
    font-size: 1.2rem;
}
.school-logo {
    border-radius: 2px;
    width: 64px;
    height: 64px;
}
.school-info {
    padding: 5px 5px;
    padding-bottom: 0px;
}
.student-profile {
    width: 100px;
    height: 100px;
}
.student-info {
    padding: 10px;
    padding-top: 0px;
}
.student-info h4 {
    font-weight: bold;
    padding: 2px;
    margin: 0px;
}
.student-info span {
    font-weight: normal;
}
.signature {
    border-top: 1px solid;
    font-size: 0.7rem;
    width: fit-content;
}
.valid-date {
    font-size: 0.8rem;
    text-align: right;
    font-weight: bold;
}
.row {
    display: flex;
}
.column {
    flex: 1;
}